main{
    display: grid;
    background-color: rgb(152, 159, 149);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
    width: 400px;
    grid-gap: 5px;
    padding: 10px;
    margin: auto;
}

main div{
    background-color: rgb(228, 255, 154);
}
main img{
    width: 90%;
}